<template>
  <div>
    <swiper :slides-per-view="3" :space-between="50" :navigation="true">
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper>
    <va-slider v-model="value1" track-label-visible />
    <va-slider
      v-model="value2"
      track-label-visible
      :track-label="value2 + '%'"
    />
    <va-date-picker
      v-model="value"
      :month-names="months"
      :weekday-names="weekDays"
      first-weekday="Monday"
    />
  </div>
  <Accordion />
  <p @click="showModal = !showModal">кликни сюда</p>
  <va-modal v-model="showModal" title="Overview">
    <div v-html="message"></div>
  </va-modal>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/swiper.scss';
import 'swiper/components/navigation/navigation.scss';
import Accordion from './Accordion.vue';
import SwiperCore, { Navigation } from 'swiper/core';
SwiperCore.use([Navigation]);
import message from './popup-message';
export default {
  name: 'Vuestic',
  components: { Accordion, Swiper, SwiperSlide },
  data() {
    // const message = '<p>1212121</p>';
    return {
      showModal: false,
      message,
    };
  },
  setup() {
    return {
      value1: 23,
      value2: 75,
      value: new Date(),
      weekDays: ['ВС', 'ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ'],
      months: [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сентябрь',
        'Октябрь',
        'Ноябрь',
        'Декабрь',
      ],
    };
  },
};
</script>
